html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#rojo { background: red; }
#rojo:hover {background: pink;}

#azul { background: blue; }
#azul:hover {background:lightblue;}

#amarillo { background: yellow; }
#amarillo:hover {background: lightyellow;}

#verde { background: green; }
#verde:hover {background: lightgreen;}
